.nav_bar {
  margin: auto;
  text-align: center;
  margin: 0px 500px;
  padding:6px;
  background: #329a77;
  max-width: 100%;
}

.nav_bar ul {
  padding: 10px;
  list-style: none;
}

.nav_bar ul li{
  float: right;
  font-size: 30px;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
}

.nav_bar ul li a {
  text-decoration: none;
  color: #E8FFF5;
  padding: 20px 20px 20px 20px;
  width: 50px;
  text-align: center;
}

#intro {
  background-color: #b2e6d5;
  text-align: center;
  margin: 0px 500px;
  font-family: Verdana, Geneva, sans-serif;
  padding: 70px;
  font-size: 38px;
  border: 2px solid #329a77;
  border-bottom: none;
  border-top: none;
  color: #133924;
}


#intro2 {
  background-color: #E8FFF5;
  margin: 0px 500px;
    font-family: Verdana, Geneva, sans-serif;
    padding: 30px;
    font-size: 17px;
    border: 2px solid #329a77;
    color: #133924;
}

.gallery {
  text-align: center;
  margin: 0px 500px;
  background-color: 	 #E8FFF5;
  padding: 30px;
  border: 2px solid #329a77;
  border-bottom: none;
  border-top: none;
}

.gallery img {
  transition: 1s;
  padding: 15px;
}

.image-resize {
  height:300px;
  width: 240px;
  object-fit: cover;
  object-position: center center;

}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.nav_bar2 {
  margin: auto;
  text-align: center;
  margin: 0px 500px;
  padding:6px;
  background: #329a77;
  max-width: 100%;
}

.nav_bar2 ul {
  padding: 10px;
  list-style: none;
}

.nav_bar2 ul li{
  float: right;
  font-size: 17px;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
}

.nav_bar2 ul li a {
  text-decoration: none;
  color: #E8FFF5;
  padding: 20px 20px 20px 20px;
  width: 50px;
  text-align: center;
}
